

body{
	color: black;
	background-color: black;
	font-family: arial;
    height: 100%;
    width: 100%;
    }

	header {
	margin: 0 auto;
	width: 100%;
	height: 150px;
	background-image: radial-gradient(#f0ff00, #ff6033, #c70039, #900c3f, #581845, #7B0A1F);
    display: flex;
	}

	header img {float: left;}
	header h2 {font-weight: normal; display: inline;}
	header h1 {font-size: 5em; font-weight: normal; display: inline;}

.right {
	font-family: 'LearningCurveProRegular',Impact, Charcoal, sans-serif;
	text-shadow: 0px 0px 10px #777;
    position: absolute;
    right: 0px;
    width: 500px;
    border: 10px;
    padding: 10px;

}

 .center {
 	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
 	font-style: italic;
 	float: left;
    width: 500px;
    height: 10px;
    margin: 50px;
    border: 3px;
 }

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16%;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


 #bloc-page
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border: 3px #eddcd1 inset;
    border-radius: 0px 9px 9px 0px; 

}
p
{
color: black;
}
